<div class="fit-homepage fit-background">
  <h2 class="are-you-ready">ARE YOU READY TO</h2>
  <h1><span class="get-fit">GET FIT</span> AND STAY COMMITTED?</h1>
  <button type="button" class="btn btn-dark get-started">Get Started</button>
</div>
<script src="/js/homepage.js"></script>