<div class="schedule">
    {{!-- <h2 class="my-workout">{{capitalize name}}'S WORKOUT SCHEDULE</h2> --}}
    <!-- {{only populate if submit button is clicked}} -->
    
    <section class="populated-data d-flex flex-wrap justify-content-center">
      <div class="card text-center biggerBox" id="monday-reference">
        <div class="card-header">
          MONDAY
        </div>
        <div class="card-body">
          <p class="card-text" id="monday-content"></p>
          <button type="button" id="first-btn" class="btn btn-secondary delete-btn mt-5 hide">Delete</button>
        </div>
      </div>

        <div class="card text-center biggerBox" id="tuesday-reference">
          <div class="card-header">
            TUESDAY
          </div>
          <div class="card-body">
            <p class="card-text" id="tuesday-content"></p>
            <button type="button" id="second-btn" class="btn btn-secondary delete-btn mt-5 hide">Delete</button>
          </div>
        </div>

        <div class="card text-center biggerBox" id="wednesday-reference">
          <div class="card-header">
            WEDNESDAY
          </div>
          <div class="card-body">
            <p class="card-text" id="wednesday-content"></p>
            <button type="button" id="third-btn" class="btn btn-secondary delete-btn mt-5 hide">Delete</button>
          </div>
        </div>

        <div class="card text-center biggerBox" id="thursday-reference">
          <div class="card-header">
            THURSDAY
          </div>
          <div class="card-body">
            <p class="card-text" id="thursday-content"></p>
            <button type="button" id="fourth-btn" class="btn btn-secondary delete-btn mt-5 hide">Delete</button>
          </div>
        </div>

        <div class="card text-center biggerBox" id="friday-reference">
          <div class="card-header">
            FRIDAY
          </div>
          <div class="card-body">
            <p class="card-text" id="friday-content"></p>
            <button type="button" id="fifth-btn" class="btn btn-secondary delete-btn mt-5 hide">Delete</button>
          </div>
        </div>

        <div class="card text-center biggerBox" id="saturday-reference">
          <div class="card-header">
            SATURDAY
          </div>
          <div class="card-body">
            <p class="card-text" id="saturday-content"></p>
            <button type="button" id="sixth-btn" class="btn btn-secondary delete-btn mt-5 hide">Delete</button>
          </div> 
        </div>

        <div class="card text-center biggerBox" id="sunday-reference">
          <div class="card-header">
            SUNDAY
          </div>
          <div class="card-body">
            <p class="card-text" id="sunday-content"></p>
            <button type="button" id="seventh-btn" class="btn btn-secondary delete-btn mt-5 hide">Delete</button>
          </div>
        </div>
    </section>
            
            <!-- Input data into their weekly schedule -->
    <section id="weekly-layout">
      <form class="text-center">
        <div class="form-group headerSpacing">
          <label for="dayOfTheWeek" class="inputHeader">Day of the Week</label>
        </div>
        
        <div class="dropdown">
          <select name="selectDay" id="dropdownMenuLink">
            <!-- <option value="pleaseSelect" id="please-select">Select</option> -->
            <option class="dayofweekSelect" value="monday" id="monday-select">Monday</option>
            <option class="dayofweekSelect" value="tuesday" id="tuesday-select">Tuesday</option>
            <option class="dayofweekSelect" value="wednesday" id="wednesday-select">Wednesday</option>
            <option class="dayofweekSelect" value="thursday" id="thursday-select">Thursday</option>
            <option class="dayofweekSelect" value="friday" id="friday-select">Friday</option>
            <option class="dayofweekSelect" value="saturday" id="saturday-select">Saturday</option>
            <option class="dayofweekSelect" value="sunday" id="sunday-select">Sunday</option>
          </select>
        </div>

        <div class="form-group headerSpacing">
          <label for="muscleGroup" class="inputHeader">Muscle Group</label>
          <input type="text" class="form-control inputFont" id="muscleGroup" placeholder="Chest">
        </div>
        <button type="button" id="submitButton" class="btn btn-dark browse-btn mt-3">Submit</button>
      </form>
    </section>

    <section class="buttons-schedule">
      <button type="button" id="browseButton" class="btn btn-secondary browse-btn mb-5">Browse Exercises</button>
    </section>
</div>

<script src="/js/schedule.js"></script>
