/* styling sheet for the schedule page */

:root {
    --red-color: #ce1d06;
    --dark-red: #460000;
    --light-background-grey: #f0f8ff;
    --greyreal: #adadad;
    --font-body: 'Roboto', sans-serif;
    --blue-white: #e7eff6;
}

body { 
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: (--font-body);
    background-color: var(--greyreal);
}

.userinputContent {
    font-size: 1.2rem;
    padding: .2rem;
}

main {
    margin: 1rem;
    position: relative;
}

.nav-color {
    background-color: black;
    height: 4.5rem;
}

.navbar-brand {
    font-size: 1.5rem;
    letter-spacing: .05em;
}

.nav-link {
    font-size: 1.1rem;
    letter-spacing: .05em;
}

.schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    letter-spacing: .03em;
}

#weekly-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
    background-color: rgb(51, 51, 51);
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #626262;
}

.my-workout {
    font-size: 3.5rem;
    letter-spacing: .04em;
    font-family: var(--font-body);
    font-weight: bold;
    color: white;
    text-shadow: 2.5px 2.5px rgb(51, 51, 51);
    margin-bottom: 2rem;
}

#schedule-link {
    color: white;
}

.form-group {
    text-align: center;
    font-family: var(--font-body);
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
    margin: .25rem;
}

.form-control {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
}

.coloring {
    background-color: var(--red-color);
    color: white;
    font-size: 1.2rem;
    text-shadow: 1px 1px rgb(66, 66, 66);
}

.absolutely {
    position: relative;
    background-color: #f8f8f8;
}

.biggerBox {
    width: 13rem;
    margin: .5px;
}

.delete-btn {
    font-size: 1rem;
    width: 50%;
    height: 20%;
    color: white;
    position: absolute;
    bottom: 20px;
    right: 52px;
    background-color: rgb(66, 66, 66);
}

.dayofweekSelect {
    background-color: #f8f8f8;
}

.browse-btn {
    font-size: 1.2rem;
}

#submitButton {
    background-color: var(--red-color);
    box-shadow: 0 0 5px .5px var(--dark-red);
}

#browseButton {
    font-size: 1.5rem;
    background-color: rgb(66, 66, 66);
    box-shadow: 0 0 3px .5px #626262;
}

#muscleGroup {
    background-color: #f8f8f8;
    font-size: 1.3rem;
}

#dropdownMenuLink {
    background-color: #f8f8f8;
    width: 90%;
    border-radius: 5px;
    font-size: 1.3rem;
    height: 3rem;
    padding: .5rem;
}x

.hide {
    display: none;
}

.populated-data {
    display: flex;
    margin-top: 3rem;
}

.card-header {
    text-align: center;
    font-weight: bold;
}

.card {
    height: 16rem;
}

.buttons-schedule {
    margin-top: 3rem;
}

.inputHeader {
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px #626262;
}

.inputFont {
    font-size: 1.5rem;
}

#muscleGroupHeader {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.headerSpacing {
    margin: 1rem;
    color: black;
}